# === Python ===
__pycache__/
*.py[cod]
*.pyo

# === Environnements virtuels ===
venv/
.env
.envrc
.python-version

# === Jupyter Notebooks ===
.ipynb_checkpoints

# === Fichiers de build ===
*.egg-info/
dist/
build/

# === Clé secrète / données sensibles ===
service-account-key.json
*.json

# === Données brutes et temporaires ===
raw_data/
*.log
*.tmp

# === IDE / Systèmes ===
.DS_Store
.vscode/
.idea/
